
.s1-wrapper {
  position: relative;
  height: 500px;
}
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding: 20px;
  color: white;
  height: 100px;
  /*margin-bottom: 0px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header h3 img{
  max-height: 40px;
}
.nav.navbar-nav.navbar-right li a {
  color: white;
}
.nav.navbar-nav.navbar-right li a:hover {
  background: none;
}
.video {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 500px;
  overflow: hidden;
  min-width: 1045px;
  width: auto;
  background: url('../images/video-bg.jpg') no-repeat;
  background-size: cover;
}
#pretzel-video {
  position: absolute;
  width: 100%;
  /*right: 0;*/
  /*left: 0;*/
  bottom: 0;
  /*top: 0;*/
  min-width: 100%;
  bottom: 0;
}
.search-area {
  /*height: 400px;*/
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 40px;
}
.search-area h1 {
  font-size: 46px;
}

.head-line {
  margin-bottom: 50px;
}

.university-input {
  display: block;
  max-width: 400px;
  position: relative;
  margin: 0px auto;
  padding: 40px 0;
  text-align: center;

}

.university-input input.university-typeahead {
  /*height: 44px;*/
  min-width: 300px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.89);
  float: left;
  border-bottom-left-radius: 3px!important;
  border-top-left-radius: 3px!important;
}

.university-input span.input-group-btn {
  float: left;
  width: 100px;
}
.university-input button {
  height: 44px;
  font-size: 16px;
  width: 100%;
}
.twitter-typeahead{
  float:left;
}
.twitter-typeahead > input {
  height: 44px;
}
.story-block {
  min-height: 400px;
  color: #3b3b3b;
  padding: 40px 0;
}
.what-is {
  background-color: #f7f7f7;
}
.why-we-do {
  background-color: #f7f7f7;
}

.container-narrow > hr {
  margin: 30px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: #333333;
  text-align: left;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.most-popular {
  background-color: #f7f7f7;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #565A5C;
}
.most-popular h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .most-popular > .container {
    width: 1360px;
  }
}

.popular-university-container {
  background-size: cover;
  background-position: 50% 25%;
  padding-bottom: 80px;
  height: 400px;
  position: relative;
  display: block;
  background-size: cover;
  text-decoration: none;
}
.popular-university-container:hover {
  text-decoration: none;
}
.popular-university-container:after {
  content:'\A';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:#000;
  opacity:0;
  -webkit-transition: opacity ease-in-out 200ms;
  -moz-transition: opacity ease-in-out 200ms;
  -o-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;
}

.popular-university-container:hover:after {
  filter: alpha(opacity=25);
  opacity:0.25;
}
.most-popular .school-name {
  margin-top: 0;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
  background-color: #00A693;
}
.school-name:hover {
  text-decoration: none;
}
.columbia-card {
  background-image: url(/images/columbia-university.jpg);
}
.nyu-card {
  background-image: url("/images/new-york-university.jpg");
}
.stony-card {
  background-image: url("/images/stony-brook.jpg");
}
.cuny-card {
  background-image: url("/images/cuny.jpg");
}
.background-traveling-card {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*background-image: url(https://a1.muscache.com/airbnb/static/homepages/traveling-d79ea0446bf011f0c743d57a389329a8.jpg);*/
  /*background-size: cover;*/
}

/* Custom page footer */
.footer {
  background-color: #514747;
}
.footer .container {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #f7f7f7;
}
/*.footer .container {*/
  /*border-top: 1px solid #e5e5e5;*/

/*}*/

.footer p {
  margin-bottom: 0px;
}


.btn-cyan-theme {
  background-color: #23B5A4;
  border-color: #1F9E8F;
}
