
.s1-wrapper {
  position: relative;
  height: 500px;
}
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding: 20px;
  color: white;
  height: 100px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.header h3 img{
  max-height: 40px;
}

.rh-nav li a {
  color: white;
}
.rh-nav li a:hover, .rh-nav li a:focus {
  background: none;
  color: #dedede;
}

.nav > li.has-cached-user-info {
  display: none;
}
.nav > li.none-cached-user-info {
  display: none;
}
.help-dropdown .divider {
  margin: 5px 0;
}
.navbar-nav > li > .help-dropdown {
  border-radius: 3px;
}
  /*.nav .help-contact*/
.video {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 500px;
  overflow: hidden;
  min-width: 1045px;
  width: auto;
  background: url('../images/video-bg.jpg') no-repeat;
  background-size: cover;
}
#pretzel-video {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-width: 100%;
  bottom: 0;
}
.search-area {
  /*height: 400px;*/
  text-align: center;
  color: white;
  padding-top: 40px;
}
.search-area h1 {
  font-size: 46px;

}

.head-line {
  margin-bottom: 50px;
  font-weight: bold;
}

.university-input {
  display: block;
  max-width: 400px;
  position: relative;
  margin: 40px auto;
  text-align: center;
  cursor: not-allowed;
}
.twitter-typeahead{
  float:left;
}
.university-typeahead,
.tt-query,
.tt-hint {
  width: 300px;
  height: 44px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  outline: none;
  font-size: 16px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  float: left;
}

.university-input button {
  height: 44px;
  font-size: 16px;
  width: 100px;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 400px;
  margin-top: 2px;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: #333333;
  text-align: left;
  cursor: default;
}

.tt-suggestion {
  padding: 5px 20px;
  font-size: 16px;
  line-height: 26px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #4E8EF7;
  cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}
.tt-empty-message {
  padding: 3px 20px;
  font-size: 16px;
  font-style: italic;
}

.story-block {
  min-height: 400px;
  color: #3b3b3b;
  padding: 40px 0;
}
.what-is {
  background-color: #f7f7f7;
}
.why-we-do {
  background-color: #f7f7f7;
}

.container-narrow > hr {
  margin: 30px 0;
}
.most-popular {
  background-color: #f7f7f7;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #565A5C;
}
.most-popular h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .most-popular > .container {
    width: 1360px;
  }
}

.popular-university-container {
  background-size: cover;
  background-position: 50% 25%;
  padding-bottom: 80px;
  height: 400px;
  position: relative;
  display: block;
  background-size: cover;
  text-decoration: none;
}
.popular-university-container:hover {
  text-decoration: none;
}
.popular-university-container:after {
  content:'\A';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:#000;
  opacity:0;
  -webkit-transition: opacity ease-in-out 200ms;
  -moz-transition: opacity ease-in-out 200ms;
  -o-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;
}

.popular-university-container:hover:after {
  filter: alpha(opacity=25);
  opacity:0.25;
}
.most-popular .school-name {
  margin-top: 0;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
  background-color: #00A693;
}
.school-name:hover {
  text-decoration: none;
}
.columbia-card {
  background-image: url(../images/columbia-university.jpg);
}
.nyu-card {
  background-image: url("../images/new-york-university.jpg");
}
.stony-card {
  background-image: url("../images/stony-brook.jpg");
}
.cuny-card {
  background-image: url("../images/cuny.jpg");
}

.footer {
  background-color: #514747;
}
.footer .container {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #f7f7f7;
}

.footer p {
  margin-bottom: 0px;
}


.btn-cyan-theme {
  background-color: #23B5A4;
  border-color: #1F9E8F;
}
.btn-blue {
  background-color: #4E8EF7;
}
.btn-blue:hover, .btn-blue:focus {
  color: #fff;
  background-color: #69A1FD;
}
.btn-blue.disabled {
  opacity: 1;
  background-color: #A6A6A6;
}
.btn-blue.disabled:focus {

}


.signup-or-separator {
  background:none;
  height:34px;
  position:relative;
  text-align:center
}
.signup-or-separator .text {
  background-color:#FFF;
  display:inline-block;
  margin:0;
  padding:12px
}

.signup-or-separator hr {
  margin:-16px auto 10px auto;
  width:90%
}

.submit{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.submit-button{
  width:130px;
  background-color: #00A693;
}
.error-message{
  color: #880000;
  clear:both;
  text-align: center;
}

.twoD-code-image{
  width: 200px;
  height: 200px;
  }

.pull-right{
  float:right;
}

.loginOrRegister-content{
  position: relative;
  margin:0 auto;
  width: 300px;
}


.modal-dialog{
  width: 30%;
}
